@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Rubik&display=swap');


/* Define color variables */
:root {
    --primary-color: #000000;
    --secondary-color: #d15f43;
    --accent-color: #2764ae;
  }
  
  /* Import Google Fonts */
  /* Apply font-family and colors to different elements */
  body {
    background-color: #ffffff;
  }
  
  h1, h2, h3 {
    color: var(--primary-color);
  }
  
  p {
    color: var(--primary-color);
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 1.2em;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .container {
    border: 1px solid var(--accent-color);
    padding: 20px;
  }



/* Break */

#name-logo{
    height: 70px;
    margin-left: 30px;
}

main{
    display: flex;
    justify-content: center;
}

#introduction{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 550px;
    margin: 0 13%;
}

#samuel-main-img{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1/6;
}

#hey-there, #im-samuel, #rios-lazo, #three-icons{
    grid-column: 2 / 3;
}

#hey-there{
    grid-row: 1/2;
    color: var(--secondary-color);
    font-size: 2.2em;
    font-family: "PT Sans Narrow";
}

.con-text{
  width: fit-content;
  background-color: #000000;
}

#im-samuel{
    color: white;
}

#rios-lazo{
  color: white;
}

p{
    grid-column: 2/3;
}

.iconitos{
    height: 30px;
    margin-right: 10px;
}
