@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/* Define color variables */
:root {
  --first: #12130f;
  --second: #d15f43;
  --third: #eeeeee;
  --fourth: #1a659e;
  --fifth: #248433;
}

body {
  background-color: var(--third);
}

#caballo {
  z-index: -1;
  width: 80%;
  display: flex;
  margin-left: auto;
  position: relative;
  bottom: 150px;
  opacity: 0;
  filter: grayscale(100%);
  transition: filter 1.8s;
  transition: opacity 1.8s;
  margin-bottom: -150px;
}

#main-home {
  width: 92%;
  margin: 0 auto;
}

#cursor {
  display: inline; /* Make the cursor an inline element */
  animation: blink-animation 1s infinite; /* Add blinking animation */
  font-size: 40px;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header a {
  display: block;
  width: 100px;
  margin: 0 auto;
}

#name-logo {
  width: 100px;
}

header a {
  text-align: right;
}

#introduction p {
  margin-top: -20px;
}

h1 {
  font-family: "Vollkorn", serif;
  font-size: 2rem;
  color: var(--first);
}

p {
  font-size: 1.2rem;
  font-family: "Teachers", sans-serif;
}

/* FOR ICONS CHANGING */

.image-link {
  display: inline-block;
  position: relative;
}

.image-link img {
  opacity: 1;
  width: 40px;
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}

.image-link img.fade-out {
  opacity: 1; /* Fade out the image */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-link:hover .image-overlay {
  opacity: 1;
}

.image-overlay-content {
  color: white;
}

/* END FOR CHANGING IMAGES */

.colored {
  color: var(--second);
  display: inline;
}

.second {
  width: 100%;
  background-color: var(--second);
  height: 400px;
}

#contact-icons {
  display: flex;
  width: 140px;
  justify-content: space-between;
}

#contact-icons img {
  width: 40px;
}

.second {
  text-align: center;
  padding-top: 2rem;
}
