@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/* Define color variables */
:root {
  --first: #12130f;
  --second: #d15f43;
  --third: #eeeeee;
  --fourth: #1a659e;
  --fifth: #248433;
}

body {
  background-color: var(--third);
}

#caballo {
  z-index: -2;
  width: 60%;
  display: block;
  margin-left: auto;
  align-self: flex-start; /* Add this line */
  position: relative;
  bottom: 250px;
  opacity: 0;
  filter: grayscale(100%);
  transition: filter 1.8s;
  transition: opacity 1.8s;
  margin-bottom: -250px;
}

header nav {
  display: none;
}

#main-home {
  width: 92%;
  margin: 0 auto;
}

#cursor {
  display: inline; /* Make the cursor an inline element */
  animation: blink-animation 1s infinite; /* Add blinking animation */
  font-size: 40px;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header a {
  display: block;
  width: 100px;
  margin: 0 auto;
}

#name-logo {
  width: 100px;
}

header a {
  text-align: right;
}

#introduction p {
  margin-top: -20px;
}

h1 {
  font-family: "Vollkorn", serif;
  font-size: 2rem;
  color: var(--first);
}

p {
  font-size: 1.2rem;
  font-family: "Teachers", sans-serif;
}

/* FOR ICONS CHANGING */

.image-link {
  display: inline-block;
  position: relative;
}

.image-link img {
  opacity: 1;
  width: 40px;
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}

.image-link img.fade-out {
  opacity: 1; /* Fade out the image */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-link:hover .image-overlay {
  opacity: 1;
}

.image-overlay-content {
  color: white;
}

/* END FOR CHANGING IMAGES */

.colored {
  color: var(--second);
  display: inline;
}

.second {
  width: 100%;
  background-color: var(--second);
  text-align: center;
  padding-top: 2rem;
}

#contact-icons {
  display: flex;
  z-index: 1;
  width: 140px;
  justify-content: space-between;
}

#contact-icons img {
  width: 40px;
}

/* Animation */

#loader {
  position: relative;
  z-index: -2;
  top: 60px;
  left: 40px;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: var(--third);
}

#hill {
  position: absolute;
  z-index: -2;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: 0.25em solid var(--second);
  transform: rotate(45deg);
}

#hill:after {
  content: "";
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: var(--third);
}

#box {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -0.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0.25em solid var(--second);
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

/* What I've been up to */

#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.upto {
  width: 300px;
}

.upto img {
  width: 300px;
}

.upto p {
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
