@media (min-width: 900px) {
  #main-home {
    max-width: 1200px;
  }

  #caballo {
    display: flex;
    margin-left: auto;
    position: relative;
    right: 20px;
    bottom: 360px;
    width: 60%;
    margin-bottom: -360px;
  }

  h1 {
    font-size: 3rem;
  }

  #cursor {
    font-size: 70px;
  }

  #loader {
    top: -40px;
    left: 200px;
  }
}
