@media (min-width: 900px) {
  #main-home {
    max-width: 1200px;
  }

  #caballo {
    display: flex;
    margin-left: auto;
    position: relative;
    bottom: 200px;
    width: 70%;
    margin-bottom: -200px;
  }

  h1 {
    font-size: 3rem;
  }

  #cursor {
    font-size: 70px;
  }
}
